# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Local data
/data/scan_results/*.json
/data/scan_results/*.log
/data/users.db
/reports/report_*.html
/reports/report_*.pdf

# OS files
.DS_Store
Thumbs.db
